body {
    margin: 0;
    padding: 0;
    font-family: 'Architects Daughter', cursive;
    background-color: rgb(30, 30, 59);
}
#menu, #highscore, #instructionsMenu, #highscoreName {
    background-color: rgb(82, 84, 163);
    color: white;
    position: absolute;
    width: 300px;
    padding: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#highScoreMenu {
    display: none;
}

#highscoreName {
    display: none;
}

#instructionsMenu {
    display: none;
}

#highscore {
    display: none;
    width: 450px;
}

#gameover {
    display: none;
}

ul {
    list-style-type: none;
    padding: 25px;
    font-size: 30px;
}
#keyboardimg {
    width: 40px;
}


canvas {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-image: url(img/background.png);
}

h2{
    position: absolute;
    display: inline;
    transform: translate(-50%);
    top: 400px;
    left: -100px;
    transform: rotate(-70deg);
    font-size: 80px;
    text-shadow: 3px 3px 20px black;
    color: wheat;
}

#highscore h3 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 0;
}
#instructionsMenu h3 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 0;
}
#highscore ol {
    position: relative;
    margin: 40px;
    left: -100px;
}

ol li {
    padding: 40px;
    font-size: 40px;
}

ol span {
    width: fit-content;
    display: inline;
    font-size: 40px;
    position: absolute;
    transform: translate(150px, 35px);
}

button {
    font-size: 40px;
    border-radius: 10px;
    margin: 20px;
}

#welcome {
    width: 100vw;
    height: 20vh;
    top: 10px;
    position: relative;
    margin: 0;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 9999;
}

#welcome span {
    position: absolute;
    text-shadow: 2px 2px 5px #23d3ff;
    font-size: 25px;
}

#welcome img {
    width: 750px;
    padding-top: 10px;
}


a {
    color: white;
    font-size: 40px;
    border-radius: 10px;
    margin: 20px;
    background-color: rgb(6,8,22);
    text-decoration: none;
    border: 2px solid black;
    box-shadow: 0px 0px 10px rgb(6,8,22);
    box-shadow: inset 0px 0px 10px rgb(6,8,22);
    text-shadow: 2px 2px 2px #23d3ff;
    padding: 10px;
    margin-top: 20px;
    opacity: .7;
}

a:hover {
    opacity: 1;
    box-shadow: 0px 0px 10px rgb(202, 202, 202);
}

#back {
    position: absolute;
    transform: translate(0,540px);
}

#toolong {
    color: rgba(255, 0, 0, 0.432);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    display: none;
}

#music, #sound {
    transform: scale(2);
    margin: 20px;
    margin-left: 0;
}

#menu label {
    transform: translate(-10px, 15px);
    margin-left: 10px;
}

